.map-wrapper {
  min-width: 100%;
  margin: 0;
  padding-top: 100px;
}
#svgMap {
  margin: 0 auto;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 51%;
  transition: fill 300ms;
}
#svgMap svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.map-legends {
  position: absolute;
  top: 70%;
  right: 0;
}
.legends-ul,
.legends-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.legends-item {
  font-size: 14px;
  color: #666;
  line-height: 20px;
  position: relative;
  padding-left: 20px;
}
.legends-item::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #ccc;
  position: absolute;
  top: 3px;
  left: 0;
}
.defaultColor,
.defaultColor a {
  transition: fill 200ms;
  fill: #003d7b;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  opacity: 1;
  stroke-opacity: 1;
  stroke-linejoin: round;
  fill-opacity: 1;
}
.defaultColor path {
}
.defaultColor text {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-anchor: middle;
  font-style: normal;
  font-variant: normal;
  font-stretch: normal;
  font-size: 12px;
  line-height: normal;
  font-family: Arial;
  fill: #fff;
}
.defaultColor:hover path,
.defaultColor:hover rect {
  fill: #367cb3;
  transition: fill 200ms; /* Added transition property */
}
#US-AL,
#US-AL a {
  fill: #003d7b;
}
#US-AL:hover path,
#US-AL:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-AK,
#US-AK a {
  fill: #003d7b;
}
#US-AK:hover path,
#US-AK:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-AZ,
#US-AZ a {
  fill: #003d7b;
}
#US-AZ:hover path,
#US-AZ:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-AR,
#US-AR a {
  fill: #003d7b;
}
#US-AR:hover path,
#US-AR:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-CA,
#US-CA a {
  fill: #003d7b;
}
#US-CA:hover path,
#US-CA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-CO,
#US-CO a {
  fill: #003d7b;
}
#US-CO:hover path,
#US-CO:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-CT,
#US-CT a {
  fill: #003d7b;
}
#US-CT:hover path,
#US-CT:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-DE,
#US-DE a {
  fill: #003d7b;
}
#US-DE:hover path,
#US-DE:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-DC,
#US-DC a {
  fill: #003d7b;
}
#US-DC:hover path,
#US-DC:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-FL,
#US-FL a {
  fill: #003d7b;
}
#US-FL:hover path,
#US-FL:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-GA,
#US-GA a {
  fill: #003d7b;
}
#US-GA:hover path,
#US-GA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-HI,
#US-HI a {
  fill: #003d7b;
}
#US-HI:hover path,
#US-HI:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-ID,
#US-ID a {
  fill: #003d7b;
}
#US-ID:hover path,
#US-ID:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-IL,
#US-IL a {
  fill: #003d7b;
}
#US-IL:hover path,
#US-IL:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-IN,
#US-IN a {
  fill: #003d7b;
}
#US-IN:hover path,
#US-IN:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-IA,
#US-IA a {
  fill: #003d7b;
}
#US-IA:hover path,
#US-IA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-KS,
#US-KS a {
  fill: #003d7b;
}
#US-KS:hover path,
#US-KS:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-KY,
#US-KY a {
  fill: #003d7b;
}
#US-KY:hover path,
#US-KY:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-LA,
#US-LA a {
  fill: #003d7b;
}
#US-LA:hover path,
#US-LA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-ME,
#US-ME a {
  fill: #003d7b;
}
#US-ME:hover path,
#US-ME:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-MD,
#US-MD a {
  fill: #003d7b;
}
#US-MD:hover path,
#US-MD:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-MA,
#US-MA a {
  fill: #003d7b;
}
#US-MA:hover path,
#US-MA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-MI,
#US-MI a {
  fill: #003d7b;
}
#US-MI:hover path,
#US-MI:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-MN,
#US-MN a {
  fill: #003d7b;
}
#US-MN:hover path,
#US-MN:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-MS,
#US-MS a {
  fill: #003d7b;
}
#US-MS:hover path,
#US-MS:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-MO,
#US-MO a {
  fill: #003d7b;
}
#US-MO:hover path,
#US-MO:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-MT,
#US-MT a {
  fill: #003d7b;
}
#US-MT:hover path,
#US-MT:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-NE,
#US-NE a {
  fill: #003d7b;
}
#US-NE:hover path,
#US-NE:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-NV,
#US-NV a {
  fill: #003d7b;
}
#US-NV:hover path,
#US-NV:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-NH,
#US-NH a {
  fill: #003d7b;
}
#US-NH:hover path,
#US-NH:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-NJ,
#US-NJ a {
  fill: #003d7b;
}
#US-NJ:hover path,
#US-NJ:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-NM,
#US-NM a {
  fill: #003d7b;
}
#US-NM:hover path,
#US-NM:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-NY,
#US-NY a {
  fill: #003d7b;
}
#US-NY:hover path,
#US-NY:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-NC,
#US-NC a {
  fill: #003d7b;
}
#US-NC:hover path,
#US-NC:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-ND,
#US-ND a {
  fill: #003d7b;
}
#US-ND:hover path,
#US-ND:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-OH,
#US-OH a {
  fill: #003d7b;
}
#US-OH:hover path,
#US-OH:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-OK,
#US-OK a {
  fill: #003d7b;
}
#US-OK:hover path,
#US-OK:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-OR,
#US-OR a {
  fill: #003d7b;
}
#US-OR:hover path,
#US-OR:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-PA,
#US-PA a {
  fill: #003d7b;
}
#US-PA:hover path,
#US-PA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-RI,
#US-RI a {
  fill: #003d7b;
}
#US-RI:hover path,
#US-RI:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-SC,
#US-SC a {
  fill: #003d7b;
}
#US-SC:hover path,
#US-SC:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-SD,
#US-SD a {
  fill: #003d7b;
}
#US-SD:hover path,
#US-SD:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-TN,
#US-TN a {
  fill: #003d7b;
}
#US-TN:hover path,
#US-TN:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-TX,
#US-TX a {
  fill: #003d7b;
}
#US-TX:hover path,
#US-TX:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-UT,
#US-UT a {
  fill: #003d7b;
}
#US-UT:hover path,
#US-UT:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-VT,
#US-VT a {
  fill: #003d7b;
}
#US-VT:hover path,
#US-VT:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-VA,
#US-VA a {
  fill: #003d7b;
}
#US-VA:hover path,
#US-VA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-WA,
#US-WA a {
  fill: #003d7b;
}
#US-WA:hover path,
#US-WA:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-WV,
#US-WV a {
  fill: #003d7b;
}
#US-WV:hover path,
#US-WV:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-WI,
#US-WI a {
  fill: #003d7b;
}
#US-WI:hover path,
#US-WI:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

#US-WY,
#US-WY a {
  fill: #003d7b;
}
#US-WY:hover path,
#US-WY:hover rect {
  fill: rgb(0, 61, 147, 0.6);
}
/* Color for legends
				.legends-item::before {
					background: #003d7b;
				}
				 */

@media screen and (max-width: 1100px) {
  .map-legends {
    position: relative;
    padding-top: 5px;
  }
  .legends-item {
    font-size: 12px;
  }
  .legends-item::before {
    width: 12px;
    height: 12px;
    top: 4px;
    left: 0;
  }
}
@media screen and (max-width: 600px) {
  text tspan {
    font-size: 24px;
  }
}
@media screen and (max-width: 600px) {
  .map-wrapper {
    padding-top: 50px;
  }
}
@media screen and (max-width: 765px) {
  #svgMap svg {
    padding-left: 60px;
  }
}
@media screen and (max-width: 475px) {
  #svgMap svg {
    padding-left: 30px;
  }
}
